.greenButton{
    background-color: #33cc33 !important; /* Green */
    color: #ffffff !important; /* White */
    border: 1px solid #008000 !important; 
}
.redButton{
    background-color: #ff4444 !important; /* Red */
    color: #ffffff !important; /* White */
    border: 1px solid #cc0000 !important; /* Darker shade of red or a complementary color */
}