.greenButton {
  background-color: #33cc33;
  color: #ffffff;
  border: 1px solid #008000;
}
.redButton {
  background-color: #ff4444;
  color: #ffffff;
  border: 1px solid #cc0000;
}
.swal-content {
  max-height: 300px;
  overflow-y: auto;
}

.swal-text-content {
  max-height: 150px;
  overflow-y: auto;
  margin-bottom: 10px;
}
.custom-align-left {
  text-align: left !important;
  margin-left: 0px;
}

.pointerCursor {
  cursor: pointer;
}

.custom-margin-service {
  margin-left: 1% !important;
  border-radius: 3px;
}

.custom-padding-navbar-admin {
  padding-left: 50px !important;
}
.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.disabled-input {
  opacity: 0.5; /* Adjust opacity to make the input appear dimmed */
  /* Add any other styles to visually indicate that the input is disabled */
}

.field-with-details {
  display: inline-block;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  margin-left: 5px; /* Adjust spacing between label and tooltip */
}

.tooltip-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.card-container {
  max-width: 500px !important; /* Adjust the value according to your design */
  margin: 0 auto; /* Center the card horizontally */
  
}
